
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}


pre { border: 0; display: block; padding: 0px; }
pre { background-color: #212121; color: #00ff00; border: 0px; border-radius: 5px; box-shadow: 0 0 10px 2px inset rgba(0,0,0,0.6); padding: 15px; overflow-x: hidden; font-family: Hack; white-space: pre-wrap; word-wrap: break-word; }

progress {
    width: 90%;
    height: 10px;
    background: #efefef;
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #0eaab5;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}

html {
				height: 100%;
				scroll-behavior: smooth;
				visibility: visible;
				opacity: 1;
				}

body {
				display: flex;
				min-height: 100vh;
				flex-direction: column;
				background-color: #121212;
				font-family: 'Hack', sans-serif;
				}
				
main {
				flex: 1 0 auto;
				}

@font-face {
				font-family: 'Hack';
				font-style: normal;
				font-weight: 400;
				src:local('Hack Regular'), local('hack-regular'), url(../fonts/hack-regular.woff) format('woff');
				font-display: swap;
				}


.img {
				object-fit: cover;
				width: auto;
				height: 180px;
				}

@media only screen and (min-width: 768px) {

.img {
				object-fit: cover;
				width: 640px;
				height: 320px;
				}
}

.content {
				font-weight: 300;
				font-size: 16px; }



.hoverable:hover {
				transition: box-shadow 0.7s;
				box-shadow: 0px 0px 10px 0.5px rgba(0,230,255,1); }

.glow {
				box-shadow: 0px 0px 10px 2px rgba(0,230,255,1);
				}

					

h1 { font-size: 45px; }

h2 { font-size: 30px; }

h3 { font-size: 25px; }

.tr-dark { background-color: rgba(30,30,30,0.6); }

.nav-wrap {
				display: flex;
				align-items: center;
				margin-left: 15px;
				}

.nav-img {
				width: 60px;
				height: 60px;
				margin-right: 25px;/*20px*/
				margin-bottom: 40px;
				margin-top: 40px;
				float: left;
				align-self: center; }

@media only screen and (min-width: 768px) { 
.nav-img {
				width: 80px;
				height: 80px;
				margin-right: 20px;
				margin-bottom: 40px;
				margin-top: 40px;
				float: left;
				align-self: center; } }

.sub-social {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 70px; } 


.margin30 { margin-top: 30px; } 

.margin20 { margin-top: 20px; } 

.sub-text { font-size: 20px; padding-top: -10px; } 

.sub-text-link { color: #00ff00; } 

.sub-text-glow { text-shadow: 0px 0px 15px #00ff00; } 

.text-glow { text-shadow: 0px 0px 15px #00e2ff; } 

.about-text { font-size: 18px; } 

.fluid-text { font-size: 18px; line-height: 180px; float: left; } 


@media only screen and (min-width: 768px) { 	

.fluid-text {
				font-size: 45px;
				line-height: 180px;
				float: left;} 	}







.hidden { opacity: 0; }

.blur { -webkit-filter: blur(4px); -moz-filter: blur(4px); -o-filter: blur(4px); -ms-filter: blur(4px); filter: blur(4px); }

.link a { color: #00ff00; font-size: 18px; }



a:active, a:focus { outline: 0; border: none; } 

.center-img{ display: flex; justify-content: center; } 

.tb-margin{ margin-top: 20px; margin-bottom: 20px; } 

.btn-abt { flex: 1; background-color: #212121; border: 0; border-radius: 5px; cursor: pointer; -webkit-tap-highlight-color: transparent; width: 130px; max-width: 100%; height: 50px; color: #00ffff; font-family: Hack; font-size: 18px; padding: 0px; margin: 10px; } 

.btn-abt:hover, .btn-abt:focus { background-color: #212121; } 

.go-right { display: flex; } 




.pub-img {
				width: 80%;
				height: auto;
				margin: 5px;
				border-radius: 5px;
				} 

@media only screen and (min-width: 768px) {
.pub-img {
				width: 20%;
				height: auto;
				margin: 5px;
				border-radius: 5px; }
				}



.title { font-size: 4vw; } 

.subline { font-size: 3vw; } 

.date-size { font-size: 3.6vw; }




@media only screen and (min-width: 768px) { 
				.title { font-size: 1vw; } 
				.subline { font-size: 1vw; } 
				.date-size { font-size: 1vw; } } 

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
				.title { font-size: 3vw; } 
				.subline { font-size: 2vw; } 
				.date-size { font-size: 2.5vw; } }	




/*search button style*/
.circle-btn {
				cursor: pointer;
				-webkit-tap-highlight-color:
				transparent;
				width: 56px;
				height: 56px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #000000;
				border-radius: 50%;
				border: 0;
				padding: 0px;
				margin: 0px;
				}

.circle-btn:focus { background-color: #000000; } 

/*search close button */
.close-btn {
				display: flex;
				float: right;
				} 

/*video cards on index.html*/
.card-mod {
				border-radius: 5px;
				background-color: #212121; } 


/*team members card on about.html*/
.card-mod-2 {
				border-radius: 10px;
				background-color: #263238; } 

/*footer bgcolor*/
.dark-grey {
				background-color: #212121; }


/*vertical scroll strip*/
.strip {
				width: 100%;
				overflow-x: scroll;
				white-space: nowrap;
				scrollbar-width: none; } 

.strip::-webkit-scrollbar { display: none; } 


	

				

